.choice {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

.choice h3 {
    padding-right: 20px;
}

.choiceContainer {
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: #1976d2;
    width: fit-content;
    height: fit-content;
}
