.section h2 {
    text-align: center;
}

.sectionTitle {
    padding-top: 50px;
}

td {
    width: 90px;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #000011;
    color: white;
    font-family: Roboto;
}
